on:
  push:
    branches: [master]
    
env:
  DOTNET_VERSION: 8.0.414
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Verify commit exists in master
      run: | 
        git fetch --no-tags --prune --depth=1 origin +refs/heads/*:refs/remotes/origin/*
        git branch --remote --contains | grep origin/master
        - name: Set VERSION variable from tag
          run: echo "VERSION=${GITHUB_REF/refs\/tags\/v/}" >> $GITHUB_ENV
        - name: Setup dotnet
          uses: actions/setup-dotnet@v3
            with:
              dotnet-version: ${{ env.DOTNET_VERSION }}
        - name: Build
          run: dotnet build --configuration Release /p:Version=${VERSION}
        - name: Pack
          run: dotnet pack --configuration Release /p:Version=${VERSION} --no-build --output .

        
      
      
        
